/**
Container is a wrapper class to center elements on the page, it can have four possible values.
On mobile (screen smaller than $desktopStart) is fullwidth,
Than is can assumes other three values depending on the screen size: $desktopContainer, $widescreenContainer and $fullHdContainer.
*/
$desktopStart: 1000px !default;
$desktopContainer: 1000px !default;
$widescreenStart: 1280px !default;
$widescreenContainer: 1152px !default;
$fullHdStart: 1472px !default;
$fullHdContainer: 1344px !default;
.container {
	margin: 0 auto;
	position: relative;
	@media screen and (min-width: $desktopStart) {
		max-width: $desktopContainer;
		width: $desktopContainer;
	}
	@media screen and (min-width: $widescreenStart) {
		max-width: $widescreenContainer;
		width: $widescreenContainer;
	}
	@media screen and (min-width: $fullHdStart) {
		max-width: $fullHdContainer;
		width: $fullHdContainer;
	}
}