//CONTAINER
.container {
	margin: 0 auto;
	position: relative;
}
@if not variable-exists(desktopStart) {
	.container {
		@media screen and (min-width: 1000px) {
			max-width: 1000px;
			width: 1000px;
		}
		@media screen and (min-width: 1280px) {
			max-width: 1152px;
			width: 1152px;
		}
		@media screen and (min-width: 1472px) {
			max-width: 1344px;
			width: 1344px;
		}	
	}
} @else {
	.container {
		@media screen and (min-width: $desktopStart) {
			max-width: $desktopContainer;
			width: $desktopContainer;
		}
		@media screen and (min-width: $widescreenStart) {
			max-width: $widescreenContainer;
			width: $widescreenContainer;
		}
		@media screen and (min-width: $fullHdStart) {
			max-width: $fullHdContainer;
			width: $fullHdContainer;
		}	
	}
}