/**
* Variáveis do Grid
*/
$desktopStart: 1000px;
$desktopContainer: 1000px;
$widescreenStart: 1280px;
$widescreenContainer: 1152px;
$fullHdStart: 1472px;
$fullHdContainer: 1344px;

/**
* Variáveis de cor
*/
$primary: #FDCC00;
$inverse: #FDCC00;
$muted: #848484;
$white: #FFF;
$black: #0F0F0F;