/**
Container variables
*/
$desktopStart: 1000px;
$desktopContainer: 1000px;
$widescreenStart: 1280px;
$widescreenContainer: 1152px;
$fullHdStart: 1472px;
$fullHdContainer: 1344px;

/**
Grid variables
*/
$columns: 24;

/**
Color variables
*/
$primary: #00D1B2;
$secondary: #F96854;
$muted: #848484;
$white: #FFFFFF;
$black: #0A0A0A;
$light: #F5F5F5;
$dark: #363636;
$link: #3273DC;
$info: #209CEE;
$success: #23D160;
$warning: #FFDD57;
$danger: #FF3860;