/**
Columns wrapper class
*/
.columns {
	display: flex;
	flex-wrap: wrap;
}

/*
This are the columns classes. Must be used after .columns class
*/
$columns: 24 !default;
$gap: 0 !default;
.column {
	padding: $gap;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}
@for $i from 1 through $columns {
	.column.is-#{$i} {
		width: percentage($i / 24);
	}
}


/*
This mixins must be included in the columns parent element.

USAGE:
.wrapper {
	@include has-columns(1, 3);
}

OUTPUT:
.wrapper > * {
	width: 33.3333333333%;
}
*/
@mixin has-columns($columnSize: 1, $totalColumns: 1) {
	>* {
		width: percentage($columnSize / $totalColumns)
	}
}