=mobile
	@media only screen and (max-width: #{$desktopStart})
		@content

=desktop
	@media only screen and (min-width: #{$desktopStart + 1})
		@content

=widescreen
	@media only screen and (min-width: #{$widescreenStart + 1})
		@content

=fullhd
	@media only screen and (min-width: #{$fullHdStart + 1})
		@content

=flex($justify, $align, $direction: row, $wrap: nowrap)
	display: flex
	justify-content: $justify
	align-items: $align
	flex-direction: $direction
	flex-wrap: $wrap

=columns($columnSize, $totalColumns, $gap: $gap)
	+desktop
		display: flex
		flex-wrap: wrap
		>*
			padding: $gap
			width: percentage($columnSize / $totalColumns)

=font($size: false, $weight: false, $lh: false, $color: false, $transform: false, $align: false, $spacing: false)
	@if $size
		font-size: $size
	@if $weight
		font-weight: $weight
	@if $lh
		line-height: $lh
	@if $color
		color: $color
	@if $transform
		text-transform: $transform
	@if $align
		text-align: $align
	@if $spacing
		letter-spacing: $spacing

=cover
	width: 100%
	height: 100%
	object-fit: cover

=centralizeY($chilElement, $width: 100%)
	position: relative
	#{$chilElement}
		position: absolute
		top: 50%
		transform: translateY(-50%)
		width: $width

=triangle($size, $color, $offsetRight)
	&::after
		+pseudo
		border-left: $size solid transparent
		border-right: $size solid transparent
		border-bottom: $size solid $color
		top: -$size
		height: 0
		right: $offsetRight
		width: 0

=size($size)
	width: $size
	height: $size

=border($style, $sides...)
	@if length($sides) == 0
		border: $style
	@else
		@each $side in $sides
			@if $side == 'top' or $side == 'right' or $side == 'bottom' or $side == 'left'
				border-#{$side}: $style

=pseudo($display: block, $position: absolute, $content: '')
	content: $content
  display: $display
  position: $pos

=truncate($maxWidth)
	max-width: $maxWidth
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis